/* sign-up, new record and sign-in forms */
.form-container{
    width: 80%;
    margin: 0 auto;
}

form {
    background: #fff;
    padding: 1em 4em 2em;
    max-width: 30%;
    margin: 20px auto 0;
    box-shadow: 0 0 .2em #012523;
    border-radius: 2px;

}

form h1{
     
    margin:0 0 20px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:#0a8d84;     
}
.select-status {
    overflow: hidden;
    position:relative;
    border:1px solid #ccc;
}

.input-full{
    box-sizing: border-box;
}

.input-full input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }

  .input-full textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin-top: 12px;
  }

  .form-class .input-full{
    margin: 0 0 1em 0;
    position: relative;
  }
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="submit"],
  input[type="password"]{
    border: 1px solid #60bebe;
    font-size: 1.2em;
    padding: .5em .5em;
    border-radius: 2px;
  
  }

  input[type="submit"]{
      background: #012523;
      border: none;
      color: #fff;
      border-radius: 4px;
  }
  input[type="submit"]:hover{
    cursor: pointer;
    background: #058a83;
}

.check{
   padding-bottom: 10px;
   
}

label.desc{
    font-size: 1.3rem;
    margin-bottom: 12px;
    
}

input[type="file"]{
    margin-top: .5rem;
}


  
  @media screen and (min-width: 600px){
    form{
        max-width: 50%;
    }
  }



  