

.content{
    
    width: 70%;
    margin: 10px auto;

}
h1{
    margin:0 0 20px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:#0a8d84;   
}

.side{
    display: flex;
    height: auto;
    margin: 1.8rem 0 1.8rem;
    border-bottom:1px solid #b3b8b7;
    
}

.user{
    width: 30%;
    margin: 1rem auto;
    border-bottom: 1px solid #012523;
    text-align: center;

}
.cases{
    flex: 1 0 auto;
    justify-content: space-between;
    text-align: center;
    width: 33.3%;
    margin: 1%;
    box-sizing: border-box;
}



.items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-top: -15px;
}


.items .item {
    flex: 1 0 200px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #f4f8f8;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 4px;
}

.item p a{
    text-decoration: none;
    color: #0ab3ad;
}

@media screen and (min-width: 699px){
    .items .item{
        flex: 1 0 300px;
    }
}

