.show{
    width: 90%;
    margin: 0 auto;
}

.mapd{
    height: 15rem;
    text-align: center;
    padding: 20px;
    border: #f4f8f8 1px solid;
    box-sizing: border-box;
}


.record{
    
    padding: 1rem;
    border: 1px solid #f4f8f8;
    border-bottom: none;
    border-radius: 2px;
    box-sizing: border-box;
}
.singleton{
    width: 80%;
    margin: 10px auto;
}

.button-display{
    margin-top: 20px;
}

.singleton a button{
    width: 100px;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

a.delete button{
    float: right;
    border-radius: 4px;
    color: #fff;
    background: #f72828
}

a.edit button{
    background: #f76a28;
    border-radius: 4px;
    color: #fff;
}

.singleton:after{
    content: "";
    display: block;
    clear: both;
}

.status{
    display: flex;
    border-bottom: 1px solid #058a83;
}

.status .status-check{
    flex: 1 0 auto;
    margin-bottom: 20px;
}