<% include ../partials/header %>
<main class="content">
    <div class="show">
        <div class="mapd">
            map location display
        </div>
        <section class="record">
            <div class="singleton">
                <h4>Heriberto Nickel</h4>
                <h5>Fallen electric poles</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat,
                    cum vitae commodi nemo corrupti voluptate? Odio,
                    quidem! Neque reprehenderit deserunt quaerat,
                    soluta voluptate error explicabo quod corrupti laboriosam aut quia!
                </p>
                <span class="faint">02/12/2018</span>
                <span class="faint status-state">status: <em>rejected</em></span>
                <div class="button-display">
                    <a class="edit" href="#"><button>Edit</button></a>
                    <a class="delete" href="#"><button>Delete</button></a>
                </div>

            </div>


        </section>
    </div>
</main>
<% include ../partials/header %>