<% include ../partials/header %>
    <div class="form-container">

        <form class="form-class">
            <h2>Sign up</h2>
            <div class="input-full">
                <label for="firstname"></label>
                <input id="firstname" type="text" name="firstname" placeholder="first name..." required>
            </div>
            <div class="input-full">
                <label for="lastname"></label>
                <input id="lastname" type="text" name="lastname" placeholder="last name..." required>
            </div>
            <div class="input-full">
                <label for="othername"></label>
                <input id="othername" type="text" name="othername" placeholder="other name...">
            </div>


            <div class="input-full">
                <label for="username"></label>
                <input id="username" type="text" name="username" placeholder="username..." required>

            </div>

            <div class="input-full">
                <label for="email"></label>
                <input id="email" type="email" name="email" placeholder="email" required>

            </div>
            <div class="input-full">
                <label for="email"></label>
                <input id="password" type="password" name="password" placeholder="password" required>

            </div>

            <div class="input-full">
                <label for="phonenumber"></label>
                <input id="phonenumber" type="text" name="phonenumber" placeholder="phonenumber">

            </div>


            <div class="input-full">
                <label for="date"></label>
                <input id="date" type="date" name="registered">

            </div>

            <div class="input-full">
                <label for="submit"></label>
                <input id="submit" type="submit" value="sign up">

            </div>



        </form>
    </div>
<% include ../partials/footer %>