<% include ../partials/header %>
<div class="form-container">

    <form class="form-class">
        <h1>Sign in</h1>
        <div class="input-full">
            <label for="email"></label>
            <input id="email" type="email" name="username" placeholder="email...">
        </div>
        <div class="input-full">
            <label for="password"></label>
            <input id="password" type="password" name="password" placeholder="password...">
        </div>

        <div class="input-full">
            <label for="submit"></label>
            <input id="submit" type="submit" value="sign in">

        </div>
    </form>
</div>
<% include ../partials/footer %>