*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    width: 100%;
    background: #058a83;
    z-index: 2;
}

nav.admin-nav ul{
    padding: 0;
    margin: 0; 
}

nav.admin-nav ul li{
    list-style: none;
    padding: 0;
    margin: 0; 
}
nav.admin-nav a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: #fff;
    
}

nav.admin-nav a:hover{
    background: #0eb7eb;
    font-size: 18px;
    border-radius: 6px;
}

h2{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 40%;
    text-align: center;
    color: #fff;
}



.wrapper{
  margin: 0 auto;
  padding: 40px;
  width: 100%;
}
.table{
    width: 100%;
  margin: 0 0 40px 0;  
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
 
}
.row {
  display: table-row;
  background: #f6f6f6;
}  
  
.header {
    display: table-row;
    font-weight: 900;
    color: #ffffff;
    background: #058a83;;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}
   
.cell{                                  
    margin-bottom: 10px;
    padding: 10px;
    width: 20%;
    text-align: left;
    display: table-cell;
}

.select-status {
    overflow: hidden;
    position:relative;
    border:1px solid #ccc;
}


.select-status select {
    
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px; 
    width: 200px;
  }

  .delete-button{
    border-radius: 4px;
    color: #fff;
    background: #f72828;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
  }

  .delete-button:hover{
      background: #520303
  }

  span i{
    display: none;
}


@media screen and (max-width: 580px){
    .table {
        display: block;
    }
    .row{
        padding: 14px 0 7px;
        display: block;
    }

    .cell{
        padding: 2px 16px;
        display: block;
    }
} 

@media screen and (min-width: 600px){
    nav.admin-nav ul{
        display: flex;
        justify-content: flex-end;
    }

    span.icon{
        position: absolute;
        top: 15px;
        left: 20px;
        z-index: 3;
        color: #67e711;
        font-size: 22px;
        
    }

    span i{
        padding-right: 10px;
         
    }
}    