*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
nav {
    position: relative;
    width: 100%;
    background: #058a83;
    z-index: 2;
}



nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
span i{
    display: none;
}



nav.start li a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: #fff;
}

ul a button{
    padding: 20px;
    border: none;
    background: #011615;
    color: #fff;
}

nav.start li a:hover{
    background: #0eb7eb;
    font-size: 18px;
    border-radius: 6px;
}

span.faint{
    color: rgba(0, 0, 0, 0.5)
}

.status-state{
    display: block;
}




@media screen and (min-width: 600px) {

    nav.start ul{
        display: flex;
        justify-content: center;
    }
    span.icon{
        position: absolute;
        top: 15px;
        left: 20px;
        z-index: 3;
        color: #67e711;
        font-size: 22px;
        
    }
    span i{
        padding-right: 10px;
         
    }

    .status-state{
        display: inline-block;
        padding-left: 10px;
    }
   

}
