body{
    background: #d6dbdb
}
.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;;
}
.profile-image{
    padding-left: 10px;
}
  img{
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #0F2027;
    display: block;
    border-radius: 50%;
    

}

.user{
    
    padding-top: 30px;
    padding-bottom: 30px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-content{
    margin: 0 auto;
    color: #fff;
    padding-left: 10px;
    
    
}


.user-content p span:nth-child(2){
    display: inline-block;
    padding-left: 5%;
    
    
}

.user-content p em{
    padding-left: 5%;
}

.list{
    margin-top: 50px;
}


.records{
    padding: 12px;
    border: 1px solid #ebebf0;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
}
h1{
    margin:0 0 20px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:#0a8d84;   
}


.cases p:nth-child(2){
    padding-left: 10px;
    color: #f7f326
}
.read-more a{
    text-decoration: none;
    color: #0a8d84;
}



@media screen and (min-width: 600px) {
    .user-content{
        margin: 0 auto;
        width: 70%;
        font-size: 18px;
        font-weight: 400;
        
            
    }

    .cases{
        display: inline-block;
        padding-right: 10px;
        text-align: center;
    }
    img{
        margin: 0 auto;
    }

}

@media screen and (min-width: 800px) {
    
    .container{
        width: 65%;
        
    }
    .user-content p span:nth-child(1){
        font-size: 20px;
        font-weight: 400;
     }
    .user-content{
        margin: 0 auto;
        width: 90%;
        text-align: center;
     }
     .profile-detail{
        margin: 0 auto;
        display: block;
        text-align: center;

     }

     .profile-detail p:nth-child(3){
        padding-left: 50px;
     }
     
}

@media screen and (min-width: 1000px) {
    
    .container{
        width: 55%;
        
    }
    .user-content{
        margin: 0 auto;
         width: 90%;
    }
}